@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');



body {
  margin: 0;
  font-family: 'Itim', cursive;
}

.days {
  display: flex;
  justify-content: center;
}

.day {
  border: 2px black solid;
  border-radius: 10px;
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.day img {
  width: 80%;
}